.wrapper{
    width: 1160px;
    margin: 0 auto;
}

.wrapper__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper__formSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

.wrapper__article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
}

.wrapper__footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
}